@import url("https://fonts.googleapis.com/css2?family=Gluten&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gluten&family=Roboto+Mono:wght@600&display=swap");

.overlay {
  display: flex;
  flex-direction: column;
  place-items: center;
  opacity: 0;
  transition: opacity 200ms ease;
  width: 800px;
  height: 600px;
  max-height: 600px;
  max-width: 800px;
  overflow: hidden;
  grid-gap: 0.5em;
  &.fade {
    opacity: 1;
  }
}

span {
  color: white;
  text-shadow: 1px 1px 5px black;
  text-align: center;
  font-family: "Gluten", cursive;
}

.text {
  font-size: 2em;
}

.sub-text {
  margin-top: 0.5em;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.5;
}

.alert-image {
  max-width: 90%;
  height: 350px;
  object-fit: contain;
}
